# Taller 5
Métodos Computacionales para Políticas Públicas - URosario

**Entrega: viernes 9-sep-2016 11:59 PM**

<div class="alert alert-success">
**[Camila Valencia]** <br><br>
[camila.valencia@urosario.edu.co]
</div>

## Instrucciones:
- Guarde una copia de este *Jupyter Notebook* en su computador, idealmente en una carpeta destinada al material del curso.
- Modifique el nombre del archivo del *notebook*, agregando al final un guión inferior y su nombre y apellido, separados estos últimos por otro guión inferior. Por ejemplo, mi *notebook* se llamaría: mcpp_taller5_santiago_matallana
- Marque el *notebook* con su nombre y e-mail en el bloque verde arriba. Reemplace el texto "[Su nombre acá]" con su nombre y apellido. Similar para su e-mail.
- Desarrolle la totalidad del taller sobre este *notebook*, insertando las celdas que sea necesario debajo de cada pregunta. Haga buen uso de las celdas para código y de las celdas tipo *markdown* según el caso.
- Recuerde salvar periódicamente sus avances.
- Cuando termine el taller:
    1. Descárguelo en PDF. Si tiene algún problema con la conversión, descárguelo en HTML.
    2. Suba los dos archivos (.pdf -o .html- y .ipynb) a su repositorio en GitHub antes de la fecha y hora límites.

(Todos los ejercicios tienen el mismo valor.)

---

### 1
Escríba una función que ordene (de forma ascedente y descendente) un diccionario según sus valores.

In [1]:
precio = {"papa":400, 'criolla':2000, 'arveja':1100, 'manzana':4500}

In [2]:
precio

{'arveja': 1100, 'criolla': 2000, 'manzana': 4500, 'papa': 400}

In [3]:
import operator
def orden(d,a): #los parametros de la funcion son el diccionario d y si el orden es ascendente a=1, si es decendente a=0
    x=sorted(d.items(), key=operator.itemgetter(1))
    if a==1:
        print(x)
    if a==0:
        x.reverse()
        print(x)

In [4]:
orden(precio, 1)

[('papa', 400), ('arveja', 1100), ('criolla', 2000), ('manzana', 4500)]

In [5]:
orden(precio, 0)

[('manzana', 4500), ('criolla', 2000), ('arveja', 1100), ('papa', 400)]

### 2
Escriba una función que agregue una llave a un diccionario.

In [6]:
estudiantes={"camila":22, "maykol":24}

In [7]:
estudiantes

{'camila': 22, 'maykol': 24}

In [8]:
def mas_estudiantes(nombre,edad):
    estudiantes[nombre]=edad
    return estudiantes

In [9]:
mas_estudiantes("jose",30)

{'camila': 22, 'jose': 30, 'maykol': 24}

### 3
Escriba un programa que concatene los siguientes tres diccionarios en uno nuevo:

dicc1 = {1:10, 2:20} 
dicc2 = {3:30, 4:40} 
dicc3 = {5:50,6:60}
Resultado esperado: {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [10]:
dicc1 = {1:10, 2:20} 
dicc2 = {3:30, 4:40} 
dicc3 = {5:50,6:60}
dicc1.update(dicc2)
dicc1
dicc1.update(dicc3)
dicc1

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

### 4
Escriba una función que verifique si una determinada llave existe o no en un diccionario.

In [11]:
def existe(k,d): #el primer parametro de la funcion es la llave y el segundo es el diccionario
    if k in d:
        x=True
    else:
        x=False
    return x

In [12]:
existe("jose", estudiantes)

True

In [13]:
existe("orlando", estudiantes)

False

### 5
Escriba una función que imprima todos los pares (llave, valor) de un diccionario.

In [14]:
def diccionario(d):
    for k,v in d.items():
        print(k, v)

In [15]:
diccionario(precio)

manzana 4500
arveja 1100
criolla 2000
papa 400

### 6
Escriba una función que genere un diccionario con los números enteros entre 1 y n en la forma (x: x**2).

Ejemplo: n = 5
Resultado esperado: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [16]:
cuadrado={}
def square(n):
    for x in range(n+1):
        cuadrado[x]=x**2
    return cuadrado

In [17]:
square(7)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

### 7
Escriba una función que sume todas las llaves de un diccionario. (Asuma que son números.)

In [18]:

def sum_keys(d):
    x=sum(d.keys())
    return x

In [19]:
dicc={0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}
sum_keys(dicc)

21

### 8
Escriba una función que sume todos los valores de un diccionario. (Asuma que son números.)

In [20]:
def sum_values(d):
    x=sum(d.values())
    return x

In [21]:
dicc={0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}
sum_values(dicc)

91

### 9
Escriba una función que sume todos los ítems de un diccionario. (Asuma que son números.)

In [22]:
def sum_items(d):
    x=sum(d.values())
    y=sum(d.keys())
    z= x+y
   
    return z

In [23]:
dicc={0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}
sum_items(dicc)

112

### 10
Escriba una función que tome dos listas y las mapee a un diccionario por pares. (El primer elemento de la primera lista es la primera llave del diccionario, el primer elemento de la segunda lista es el valor de la primera llave del diccionario, etc.)

In [24]:
dicc ={}
def crea_dicc(l1,l2):
    for i in list(range(len(l1))):
        dicc[l1[i]] = l2[i]
    return dicc

In [25]:
animals=[ "chick", "duck", "cat", "dog", "sheep"]
sounds=["chick", "quack", "meow", "wow", "baa"]
crea_dicc(animals, sounds)

{'cat': 'meow',
 'chick': 'chick',
 'dog': 'wow',
 'duck': 'quack',
 'sheep': 'baa'}

### 11
Escriba una función que elimine una llave de un diccionario.

In [26]:
def elimina(d,k):
    del d[k]
    return d

In [27]:
dicc={'cat': 'meow',
 'chick': 'chick',
 'dog': 'wow',
 'duck': 'quack',
 'sheep': 'baa'}
elimina (dicc, 'cat')

{'chick': 'chick', 'dog': 'wow', 'duck': 'quack', 'sheep': 'baa'}

### 12
Escriba una función que arroje los valores mínimo y máximo de un diccionario.

In [28]:
def minmax(d):
    x=min(d.values())
    y=max(d.values())
    return x,y

In [29]:
precio = {"papa":400, 'criolla':2000, 'arveja':1100, 'manzana':4500}
minmax(precio)

(400, 4500)

### 13

sentence = "the quick brown fox jumps over the lazy dog"
words = sentence.split()
word_lengths = []
for word in words:
    if word != "the":
        word_lengths.append(len(word))

Simplifique el código anterior combinando las líneas 3 a 6 usando "list comprehension". Su código final deberá entonces tener tres líneas.

In [30]:
sentence = "the quick brown fox jumps over the lazy dog"
words = sentence.split()
word_lengths = []
for word in words:
    if word != "the":
        word_lengths.append(len(word))

In [31]:
word_lengths

[5, 5, 3, 5, 4, 4, 3]

In [32]:
sentence = "the quick brown fox jumps over the lazy dog"
words = sentence.split()
word_lengths = []
[len(word) for word in words if word != "the"]

[5, 5, 3, 5, 4, 4, 3]

### 14

In [33]:
a = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Escriba una línea de código que tome la lista <mark>a</mark> y arroje una nueva lista con solo los elementos pares de <mark>a</mark>.

In [34]:
a = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[x for x in a if x%2==0]

[4, 16, 36, 64, 100]

### 15

Escriba una línea de código que tome la lista <mark>a</mark> del ejercicio 14 y multiplique todos sus valores.

In [35]:
from functools import reduce
reduce(lambda x,y: x*y, a)

13168189440000

### 16

Usando "list comprehension", cree una lista con las 36 combinaciones de un par de dados, como tuplas: [(1,1), (1,2),...,(6,6)].

In [36]:
d = [(i,j) for i in [1,2,3,4,5,6] for j in [1,2,3,4,5,6]]

In [37]:
 print (d)

[(1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6)]